.login {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 1200px; */
}

.login__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1000px;
}
